@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
    
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    border: solid 1px;
    border-color: rgb(79, 113, 147);
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("./assets/mathieu-le-roux-6_HqvY1E7NI-unsplash\ \(1\).jpg") no-repeat center ;
    background-size: 100%;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("./assets/mathieu-le-roux-6_HqvY1E7NI-unsplash\ \(1\).jpg") no-repeat center;
    background-size: 100%;
}

.section-products #product-3 .part-1::before {
    background: url("./assets/mathieu-le-roux-6_HqvY1E7NI-unsplash\ \(1\).jpg") no-repeat center;
    background-size: 100%;
}

.section-products #product-4 .part-1::before {
    background: url("./assets/mathieu-le-roux-6_HqvY1E7NI-unsplash\ \(1\).jpg") no-repeat center;
    background-size: 100%;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


.card{
background-size: cover;

}

/* Inlogg extra css*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #90cffc;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #2461ee, #3687d8, #36a5dd, #5045b4);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2461ee, #3687d8, #36a5dd, #5045b4);
    }
    
.my-5 {
    margin-top: 0rem!important;
    margin-bottom: 1rem!important;
    background-color: #4271d7;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #45526e!important;
    
}

.nav-link{
    color: white;
}

.cart-container{
position: absolute;  right: 80px;
}

.kalle-knapp{
    position: absolute;  right: 150px;
}
.kalle-login{
    position: absolute;  right: 250px;
}
.container-fluid{
    text-align: end;
}
.btn-primary {
    background-color: #75a466 !important;
    border-color: #75a466;
    --bs-btn-border-color: #75a466 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5d8350 !important;
    border-color: #5d8350 !important;
}

.navbar-nav {
    --bs-nav-link-hover-color: #75a466 !important; 
}

/* Product Description Page  */

.card {
    border: none;
}

.product {
    background-color: #eee;
}

.brand {
    font-size: 13px;
}

.act-price {
    color:red;
    font-weight: 700;
}

.dis-price {
    text-decoration: line-through;
}

.about {
    font-size: 14px;
}

.color {
    margin-bottom:10px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 2px 9px;
    border: 2px solid #45526e;
    display: inline-block;
    color: #45526e;
    border-radius: 3px;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color: #45526e;
    background-color: #45526e;
    color: #fff;
}

.btn-danger {
    background-color: #45526e !important;
    border-color: #45526e !important;
}

.btn-danger:hover {
    background-color: #627aaf !important;
    border-color: #45526e !important;
}

.btn-danger:focus {
    box-shadow: none;
}

.cart i {
    margin-right: 10px;
}

#card-block {
    background: rgb(248, 248, 248);
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-product-image {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
